
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1020px){

    .h2, .section {
        flex-direction: column;
    }

    /* CABEÇALHO */
    .nav-itens {
        display: none;
    }
}
    
